@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');


:root {
    background-color: white;
    font-family: 'Hanken Grotesk', sans-serif;
    color: #222222;
    font-size: 13pt;
    --background-color: white;
    --weak-yellow: #fff3d4;
    --main-text-brown-color: #421b0c;
    --soft-brown-color: #c78369;
    --moonstone-blue: #63b0cd;
    --argentinian-blue: #77B6EA;
    --orange-coral-color: #FF8A5B;
}

body {
    margin: 0 0;
    padding: 0 0;
}


.app {
    display: grid;
    grid-template-rows: 100px 1fr, 1000px;
    justify-items: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.pageContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

p {
    text-align: justify;
    word-wrap: break-word;
}

.textContainer {
    width: 90%;
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
}


@media (max-width: 767px) {
    .app {
        display: grid;
        grid-template-rows: 120px 1fr;
    }

    .textContainer {
        width: 90%;
    }
}


