@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


:root {
    background-color: white;
    font-family: 'Hanken Grotesk', sans-serif;
    color: #222222;
    font-size: 13pt;
    --background-color: white;
    --weak-yellow: #fff3d4;
    --main-text-brown-color: #421b0c;
    --soft-brown-color: #c78369;
    --moonstone-blue: #63b0cd;
    --argentinian-blue: #77B6EA;
    --orange-coral-color: #FF8A5B;
}


.app {
    display: grid;
    grid-template-rows: 80px 1fr;
}



.pageContent {
    display: grid;
    grid-template-columns: 15vw 70vw 15vw;
}


p {
    text-align: justify;
    word-wrap: break-word;
}



